<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- endbower -->
  <!-- endbuild -->


  <!-- build:css(.tmp) styles/main.css -->
  <!--<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="jsonparserApp" ng-controller="MainCtrl" class="container">
  <div class="header">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          <a class="navbar-brand">JSONparser</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-click="changeLayout()">
              <a href="#">
                <span class="fa fa-window-restore" aria-hidden="true"></span> Change Layout
              </a>
            </li>
            <li ng-click="showIndex=!showIndex">
              <a href="#">
                <span class="fa fa-sort-numeric-asc" aria-hidden="true"></span> Toggle Array Index
              </a>
            </li>
            <li ng-click="showTypes=!showTypes">
              <a href="#">
                <span class="fa fa-file" aria-hidden="true"></span> Toggle Types
              </a>
            </li>
            <li ng-click="toggleMini()">
              <a href="#">
                <span class="fa fa-window-minimize" aria-hidden="true"></span> Minimize
              </a>
            </li>
            <li ng-click="showColor=!showColor">
              <a href="#" style="color:darkviolet">
                <span class="fa fa-paint-brush" aria-hidden="true"></span> Toggle Color
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-class="vertical ? 'col-xs-6' : 'col-xs-12'">
      <textarea id="box1" ng-model="raw" ng-change=prettify() style="height:{{boxHeight}}vh"></textarea>
    </div>
    <div ng-class="vertical ? 'col-xs-6' : 'col-xs-12'">
      <pre bind-html-compile="prettified" style="height:{{boxHeight}}vh"></pre>
    </div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/lib.js"></script>
  <!--<script src="scripts/controllers/main.js"></script>-->
  <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>

</html>